[submodule "kohana/modules/minion"]
	path = kohana/modules/minion
	url = git://github.com/hyla/kohana-minion.git
[submodule "kohana/modules/media"]
	path = kohana/modules/media
	url = git://github.com/hyla/kohana-media.git
[submodule "kohana/system"]
	path = kohana/system
	url = git://github.com/kohana/core.git
[submodule "kohana/modules/unittest"]
	path = kohana/modules/unittest
	url = git://github.com/kohana/unittest.git
[submodule "kohana/modules/kostache"]
	path = kohana/modules/kostache
	url = git://github.com/hyla/kohana-kostache.git
[submodule "kohana/modules/assets"]
	path = kohana/modules/assets
	url = git://github.com/hyla/kohana-assets.git
[submodule "kohana/modules/event-dispatcher"]
	path = kohana/modules/event-dispatcher
	url = git://github.com/hyla/kohana-event-dispatcher.git
[submodule "kohana/modules/yform"]
	path = kohana/modules/yform
	url = git://github.com/hyla/kohana-yform.git
[submodule "hyla/core/vendor/sag"]
	path = hyla/core/vendor/sag
	url = git://github.com/hyla/sag.git
[submodule "kohana/modules/config-driver-couchdb"]
	path = kohana/modules/config-driver-couchdb
	url = git@github.com:hyla/kohana-config-driver-couchdb.git
[submodule "kohana/modules/acl"]
	path = kohana/modules/acl
	url = git://github.com/hyla/kohana-acl.git
[submodule "kohana/modules/minion-tasks-media"]
	path = kohana/modules/minion-tasks-media
	url = git://github.com/hyla/minion-tasks-media.git
[submodule "kohana/modules/userguide"]
	path = kohana/modules/userguide
	url = git://github.com/hyla/kohana-userguide.git
[submodule "kohana/modules/oauth2"]
	path = kohana/modules/oauth2
	url = git://github.com/hyla/kohana-oauth2.git
