<?php defined('SYSPATH') or die('No direct script access.');

{{#values}}
return array(
	'host'     => '{{host}}',
	'port'     => '{{port}}',
	'db'       => '{{db}}',
	'username' => '{{username}}',
	'password' => '{{password}}',
);
{{/values}}