<?php defined('SYSPATH') or die('No direct script access.');

return array(
	'smtp_host'     => '{{host}}',
	'smtp_port'     => {{port}},
	'smtp_username' => '{{username}}',
	'smtp_password' => '{{password}}',
);