<?php defined('SYSPATH') or die('No direct script access.');

return array(
	'servers' => array(
		'hyla' => array(
			'host'     => '{{host}}',
			'port'     => '{{port}}',
			'vhost'    => '{{vhost}}',
			'login'    => '{{login}}',
			'password' => '{{password}}',
		),
	),
);