<div class="ticket">
	{{#ticket}}
	<div class="info">
		<h1>{{title}}</h1>
		{{#author}}<div class="author">{{display_name}}</div>{{/author}}
		<div class="description">{{#markdown}}{{description}}{{/markdown}}</div>
	</div>
	<h2>History</h2>
	{{#history}}
		<div class="{{action}}">
			{{#comment}}
				<h3>Comment - {{date_time}}</h3>
				{{#author}}<div class="author">{{display_name}}</div>{{/author}}
				<div class="comment-content">{{#markdown}}{{comment}}{{/markdown}}</div>
			{{/comment}}
		</div>
	{{/history}}
	{{/ticket}}

	{{#update_url}}
	<a href="{{update_url}}">Update</a>
	{{/update_url}}

	{{#delete_form}}
		{{{open}}}
		{{{submit}}
		{{{close}}}
	{{/delete_form}}

</div>