/**
 * Colors by color name
 *
 * Describe the colors in this section.
 * $white: #fefefe;
 * $grey: #666;
 * $teal: #005F63;
 * $limeLight: #e7ef8a;
 */

/**
 * Colors by purpose
 *
 * Describe the usage in this section. These variables should use the Colors by name
 * and the other files should use the Colors by purpose.
 * $colorSiteBackground: $grey;
 * $colorNavHover: $teal;
 * $colorNavBackground: $lineLight;
 */