h1, h2, h3, h4, h5, h6, th {
	font-family: $serif;
}

html,
body,div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,table,caption,tbody,tfoot,thead,tr,td {
	font-family: $sans_serif;
}

a {
	@include color_anchors;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}