$blueprint-grid-columns: 16;
$blueprint-container-size: 940px;
$blueprint-grid-margin: 20px;
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;
$blueprint-grid-outer-width: $blueprint-grid-width + $blueprint-grid-margin;

body {
	@include color_body;
}

.page {
	@include container;
	@include color_main_container;

	.header, .content, .footer {
		@include column(16);
	}
	.header {

		nav {
			@include column(6, true);
			@include color_navigation;
			@include border-bottom-left-radius(5px);

			a {
				font-size: 0.9em;
			}

			ul {
				@include horizontal-list;

				padding: 5px;
			}
		}
		h1 {
			@include column(9);
			@include prepend(1);
		}
	}
	.content, .footer {

	}
	.content {
		@include color_content;

		nav ul {
			@include horizontal-list;
			@include color_navigation;

			padding: 5px;
		}
		.body {
			@include column(16, true);
			@include clearfix;
			min-height: 300px;

			> * {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}
	.footer {
		@include color_footer;

		padding: 0px 10px;
		font-size: 12px;
		line-height: 25px;

		p {
			margin-bottom: 0;
		}
	}
}