<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Hyla Project Manager</title>
		[[assets_head]]
	</head>
	<body>
		<div class="page">
			<div class="header">
				<h1><img src="{{logo_url}}" alt="{{title}}" /></h1>
				<nav>
					<ul>
						<li></li>
					</ul>
				</nav>
			</div>
			<div class="content">
				<nav>
					<ul>
						<li> </li>
					</ul>
				</nav>
				<div class="body">{{>body}}</div>
			</div>
			<div class="footer">
				<div class="copyright">
					<p>Copyright &copy;2010-2011 the Hyla Team</p>
				</div>
			</div>
		</div>
		[[assets_body]]
	</body>
</html>