<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Hyla Project Manager</title>
		[[assets_head]]
	</head>
	<body>
		<div class="page">
			<div class="header">
				<div class="global-navigation">
					<nav class="site-navigation">
						<ul>
							{{#site_navigation}}
							<li><a href="{{url}}">{{text}}</a></li>
							{{/site_navigation}}
						</ul>
					</nav>
					<nav class="auth-navigation">
						<ul>
							{{#auth_navigation}}
							<li><a href="{{url}}">{{text}}</a></li>
							{{/auth_navigation}}
						</ul>
					</nav>
				</div>
				<h1><a href="{{home_url}}"><img src="{{logo_url}}" alt="{{title}}" /></a></h1>
			</div>
			<div class="content">
				<nav>
					<ul>
						{{#sub_navigation}}
						<li><a href="{{url}}">{{text}}</a></li>
						{{/sub_navigation}}
					</ul>
				</nav>
				<div class="body">{{>body}}</div>
			</div>
			<div class="footer">
				<p>Copyright &copy;2010-2011 the Hyla Team</p>
			</div>
		</div>
		[[assets_body]]
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
	</body>
</html>