<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Hyla Project Manager</title>
		[[assets_head]]
	</head>
	<body>
		<div class="page">
			<div class="header">
				<h1><a href="{{home_url}}"><img src="{{logo_url}}" alt="{{title}}" /></a></h1>
			</div>
			<div class="content">
				<div class="body">{{>body}}</div>
			</div>
			<div class="footer">
				<p>Copyright &copy;2010-2011 the Hyla Team</p>
			</div>
		</div>
		[[assets_body]]
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,900' rel='stylesheet' type='text/css'>
	</body>
</html>