{{#form}}
	{{{open}}}

	{{{base_url}}}
	{{{index_file}}}
	{{{charset}}}
	{{{cache_dir}}}

	{{{couchdb-host}}}
	{{{couchdb-port}}}
	{{{couchdb-db}}}
	{{{couchdb-username}}}
	{{{couchdb-password}}}

	{{{smtp-host}}}
	{{{smtp-port}}}
	{{{smtp-username}}}
	{{{smtp-password}}}

	{{{rabbitmq-host}}}
	{{{rabbitmq-port}}}
	{{{rabbitmq-vhost}}}
	{{{rabbitmq-login}}}
	{{{rabbitmq-password}}}

	{{{save}}}

	{{{close}}}
{{/form}}